<section class="py-0 bg-1000 background">
  <div class="container">
    <div class="row py-5">
      <div class="col-11 col-sm-12 col-lg-5 mb-4 order-0 order-sm-0">
        <a class="text-decoration-none" href="#">
          <img src="assets/img/icons/Logo2.png" height="51" alt="" />
        </a>
        <p class="text-light mt-4 mb-0">Pune, India <br> IN: +91 99999 99999</p>
        <p class="text-light mt-5">contact@wisewebz.com</p>
        <div class="d-flex">
          <a href="#!">
            <img class="me-xl-3 me-1" src="assets/img/gallery/linkedin-line1.svg" alt="in" width="20px"
              height="20px" />
          </a>
          <a href="#!">
            <img class="me-xl-3 me-1" src="assets/img/gallery/facebook-line1.svg" alt="fb" width="20px"
              height="20px" /></a><a href="#!"><img class="me-xl-3 me-1" src="assets/img/gallery/twitter-line1.svg"
              alt="twitter" width="20px" height="20px" /></a><a href="#!"><img class="me-xl-3 me-1"
              src="assets/img/gallery/instagram-line1.svg" alt="instragram" width="20px" height="20px" /></a>
        </div>
      </div>
      <div class="col-7 col-sm-4 col-lg-3 mb-3 order-2 order-sm-1">
        <h5 class="lh-lg fw-bold text-light font-sans-serif">Services</h5>
        <ul class="list-unstyled text-light mb-md-4">
          <li class="lh-lg text-500 footer-link text-light">Web Application</li>
          <li class="lh-lg text-500 footer-link text-light">Management System</li>
          <li class="lh-lg text-500 footer-link text-light">Digital Marketing</li>
          <li class="lh-lg text-500 footer-link text-light">Task Automation</li>
          <li class="lh-lg text-500 footer-link text-light">APIs</li>
          <li class="lh-lg text-500 footer-link text-light">Design</li>
        </ul>
      </div>
      <div class="col-3 col-sm-4 col-lg-2 mb-3 order-3 order-sm-2">
        <h5 class="lh-lg fw-bold text-light font-sans-serif">Company</h5>
        <ul class="list-unstyled text-light mb-md-4 mb-lg-0">
          <li class="lh-lg"><a class="text-500 footer-link text-light" href="#about">About Us</a></li>
          <li class="lh-lg text-500 footer-link text-light">Event</li>
          <li class="lh-lg text-500 footer-link text-light">Blog</li>
          <li class="lh-lg text-500 footer-link text-light">Join Us</li>
        </ul>
      </div>
      <div class="col-6 col-sm-4 col-lg-2 mb-3 order-3 order-sm-2">
        <h5 class="lh-lg fw-bold text-light font-sans-serif">Useful Links</h5>
        <ul class="list-unstyled text-light mb-md-4 mb-lg-0">
          <li class="lh-lg text-500 footer-link text-light">Privacy Policy</li>
          <li class="lh-lg text-500 footer-link text-light">Terms of Use</li>
          <li class="lh-lg text-500 footer-link text-light">Cookies Policy</li>
        </ul>
      </div>
    </div>
  </div>
  <hr>
  <section class="py-0 bg-1000 background">
    <div class="container">
      <div class="row justify-content-md-between justify-content-evenly py-3">
        <div class="col-12 col-sm-8 col-md-6 col-lg-auto text-center text-md-start">
          <p class="fs--1 my-2 text-500 copyright">&copy; 2023 WiseWebz Systems build with passion. All rights reserved.</p>
        </div>
      </div>
    </div>
  </section>
</section>
