.copyright {
    font-size: 14px !important;
}

.background {
    background-color: #0b1b2c !important;
}

.footer-link:hover {
    color: #5d77cd !important;
    background-color: transparent !important;
    text-decoration: none !important;
    cursor: pointer !important;
}