<main class="main" id="top">
  <app-navbar></app-navbar>
  
  <!-- <div id="go-to-top" class="top" (click)="scrollToTop()">
    <span class="material-symbols-outlined">
      arrow_upward
    </span>
  </div> -->

  <app-home></app-home>

  <app-about></app-about>

  <app-services></app-services>
  
  <!-- <section id="pricing">
    <div class="container">
      <div class="row flex-center">
        <div class="col-md-6 text-center text-md-start">
          <h4 class="fw-normal fs-3" data-zanim-xs='{"delay":0.3}' data-zanim-trigger="scroll">Your safety is always
            <br />a top priority
          </h4>
          <p class="fs-0 pe-xl-8" data-zanim-xs='{"delay":0.5}' data-zanim-trigger="scroll">We are committed to help
            drivers and riders get where they want to go with confidence</p>
          <div class="d-flex justify-content-space-between align-item-center my-3 mt-2">
            <div>
              <h4 class="fw-normal fs-1">Drive</h4>
              <p class="my-1 fs-0 pe-xl-8">Drive when you want. Find ooprtunities around you.</p>
            </div>
            <div>
              <h4 class="fw-normal fs-1">Ride</h4>
              <p class="my-1 fs-0 pe-xl-8">Tap your phone. Get where you're headed</p>
            </div>
          </div><button class="btn btn-sm btn-primary my-4 me-1" href="#!" role="button">Get started</button><a
            class="btn btn-sm my-2 btn-default" href="#" role="button">Questions? Talk to our team<i
              class="fas fa-arrow-right ms-2"></i></a>
        </div>
        <div class="col-md-6 mb-4"><img class="w-100" src="assets/img/illustration/4.png" alt="..." /></div>
      </div>
    </div>
  </section> -->
  
  <!-- <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 mb-4"><img class="w-100" src="assets/img/illustration/5.png" alt="..." /></div>
        <div class="col-md-6 text-center text-md-start">
          <h4 class="fs-3 fw-normal" data-zanim-xs='{"delay":0.3}' data-zanim-trigger="scroll">Move the way you want,
            <br />Roads are open
          </h4>
          <p class="fs-0 pe-xl-7" data-zanim-xs='{"delay":0.5}' data-zanim-trigger="scroll">Opportunity is everything.
            Get out there and find it with Uber.</p>
          <div class="d-flex justify-content-center align-item-center my-3 mt-2">
            <div>
              <h4 class="fw-normal fs-1">Route</h4>
              <p class="my-1 fs-0 pe-xl-8">Route among the safe roads. Find what's waiting for you.</p>
            </div>
            <div>
              <h4 class="fw-normal fs-1">Share</h4>
              <p class="my-1 fs-0 pe-xl-8">Your caring gets it's way. Let your people know.</p>
            </div>
          </div><button class="btn btn-sm btn-primary btn-bg-purple my-4 me-1" href="#!" role="button">Get
            started</button><a class="btn btn-sm my-2 btn-default" href="#" role="button">Questions? Talk to our
            team<i class="fas fa-arrow-right ms-2"></i></a>
        </div>
      </div>
    </div>
  </section> -->
  
  <!-- <section class="p-0" id="docs">
    <div class="bg-holder d-none d-lg-block"
      style="background-image:url(assets/img/illustration/6.png);background-position:right top;background-size:contain;">
    </div>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-lg-7 col-xl-5 text-lg-start text-center">
          <h1 class="fs-3 fw-normal mt-6">Your finances on autopilot</h1>
          <p class="fs-0">Gohub monitors application stability, so you can make data-driven decision on whether you
            should be building new features, or fixing bugs.</p>
        </div>
      </div>
      <div class="row align-items-center mt-7">
        <h4 class="fs-2 fw-normal">Save Time</h4>
        <ul class="list-unstyled py-3">
          <li class="mb-3 text-900"><span class="far fa-check-circle text-700 me-2"></span>intuitive process and
            single interface</li>
          <li class="mb-3 text-900"><span class="far fa-check-circle text-700 me-2"></span>Online and paperless</li>
          <li class="mb-3 text-900"><span class="far fa-check-circle text-700 me-2"></span>Real-time notification</li>
        </ul>
      </div>
    </div>
  </section> -->
  <!-- <section class="py-5">
    <div class="container" id="auto">
      <div class="row align-items-center">
        <div class="col-md-6 text-md-start">
          <h4 class="fs-2 fw-normal">Monitor your expenses</h4>
          <ul class="list-unstyled py-3">
            <li class="mb-3 text-900"><span class="far fa-check-circle text-700 me-2"></span>Specific access/rights by
              users</li>
            <li class="mb-3 text-900"><span class="far fa-check-circle text-700 me-2"></span>Physical and virtual
              Mastercards with adjestable payment limits</li>
            <li class="mb-3 text-900"><span class="far fa-check-circle text-700 me-2"></span>Dashboards to follow-up
              on your expenses</li>
          </ul>
        </div>
        <div class="col-md-6 mt-4 mt-md-0 text-start">
          <h4 class="fs-2 fw-normal">Make accounting easier</h4>
          <ul class="list-unstyled py-3">
            <li class="mb-3 text-900"><span class="far fa-check-circle text-700 me-2"></span>Unlimited history</li>
            <li class="mb-3 text-900"><span class="far fa-check-circle text-700 me-2"></span>REad-only access for your
              accountant</li>
            <li class="mb-3 text-900"><span class="far fa-check-circle text-700 me-2"></span>Plug-and-play for
              accounting tools</li>
          </ul>
        </div>
      </div>
    </div>
  </section> -->

    <app-contact></app-contact>

    <app-footer></app-footer>
</main>