<section class="py-7 py-lg-10" id="home" style="padding-bottom: 0% !important">
<div class="bg-holder bg-size"
    style="background-image:url();background-position:left top;background-size:contain;">
</div>
<!--/.bg-holder-->
<div class="bg-holder d-none d-xxl-block hero-bg"
    style="background-image:url(assets/img/illustration/1.png);background-position:right top;background-size:contain;width: 50% !important;height: 50% !important;margin-left: 40% !important;">
</div>
<!--/.bg-holder-->
<div class="container">
    <div class="row align-items-center h-100 justify-content-center justify-content-lg-start">
    <div class="col-md-9 col-xxl-6 text-md-start text-center py-8">
        <h1 class="fs-4 fs-md-5 fs-xxl-4">Grow Your Business with Our <span style="color: #0656B8;">Solutions!</span></h1>
        <p class="fs-1">{{ tagline }}</p>
        <div class="d-flex flex-column flex-sm-row justify-content-center justify-content-md-start mt-5">
        <a class="btn btn-sm btn-primary me-1" href="#about" role="button">
            Get started
        </a>
        <a class="btn btn-sm btn-default" href="#contact" role="button">
            Questions? Talk to our team
            <i class="fas fa-arrow-right ms-2"></i>
        </a>
        </div>
    </div>
    </div>
</div>
</section>